:root {
    --main-color: #256d8f;
    --bg: #ffffff;
    --border: 0.2rem solid rgba(0, 0, 0, 0.979);
}
* {
    font-family: "Segoe UI";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    transition: 0.2s linear;
    /* border: 1px solid rgba(255, 0, 0); */
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

body {
    background-blend-mode: multiply;
    background-size: cover;
}

.item1 {
    grid-area: header;
    height: 8vh;
    background-color: rgb(27, 117, 190);
}

.item1 h1 {
    font-size: 3rem;
    font-weight: 700;
    color: #ffffff;
}
.item2 {
    grid-area: main;
    height: 84vh;
}
.item3 {
    grid-area: footer;
    height: 8vh;
    color: #ffffff;
}

.grid-container {
    display: grid;
    grid-template-areas:
        "header "
        "main"
        "footer";
    height: 100vh;
    background: rgb(242, 242, 242);
    background: linear-gradient(
        90deg,
        rgba(242, 242, 242, 1) 0%,
        rgba(0, 95, 208, 1) 100%
    );
    background-blend-mode: multiply;
}

.item2-1 {
    font-size: 8rem;
    font-weight: 900;
    text-align: center;
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../image/giphy.gif");
    background-size: cover;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    /* padding: 0 5rem 0 5rem; */
    mix-blend-mode: darken;
}

.item2-2 {
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

img {
    width: 70%;
    height: 500px;
    -webkit-mask-image: url("../image/Paint-Splatter-Transparent.png");
    mask-image: url("../image/Paint-Splatter-Transparent.png");
    -webkit-mask-size: 120%;
    mask-size: 120%;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-position: center;
    mask-position: center;
    object-fit: fill;
}

p {
    font-size: 1.5rem;
    font-weight: 500;
    z-index: 5;
}

.grid-container > div {
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    display: grid;
    width: 50%;
    grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr));
    justify-content: center;
    align-items: center;
    padding: 0 2rem 0 2rem;
    row-gap: 1rem;
    margin-top: 3rem;
}

.logo a {
    display: flex;
    justify-content: center;
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2.5rem;
    color: rgb(250, 250, 250);
    background-color: rgb(0, 95, 139);
    border: 0.1rem solid rgb(255, 255, 255);

    border-radius: 30%;
}

.logo .fab.fa-facebook-f:hover {
    background-color: #3b5998;
    border: var(--border);
    color: #ffffff;
    transition-delay: 0.001s;
    scale: 1.3;
}
.logo .fab.fa-twitter:hover {
    background-color: white;
    border: var(--border);
    color: #00acee;
    transition-delay: 0.001s;
    scale: 1.3;
}
.logo .fab.fa-instagram:hover {
    background: #d6249f;
    background: radial-gradient(
        circle at 30% 107%,
        #fdf497 0%,
        #fdf497 5%,
        #fd5949 45%,
        #d6249f 60%,
        #285aeb 90%
    );
    border: var(--border);
    color: #ffffff;
    transition-delay: 0.001s;
    scale: 1.3;
}
.logo .fab.fa-github:hover {
    background-color: white;
    border: var(--border);
    color: #000000;
    transition-delay: 0.001s;
    scale: 1.3;
}

/* waves */
.ocean {
    height: 80px; /* change the height of the waves here */
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    overflow-x: hidden;
}

.wave {
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 800 88.7'%3E%3Cpath d='M800 56.9c-155.5 0-204.9-50-405.5-49.9-200 0-250 49.9-394.5 49.9v31.8h800v-.2-31.6z' fill='%23003F7C'/%3E%3C/svg%3E");
    position: absolute;
    width: 200%;
    height: 100%;
    animation: wave 10s -3s linear infinite;
    transform: translate3d(0, 0, 0);
    opacity: 0.8;
}

.wave:nth-of-type(2) {
    bottom: 0;
    animation: wave 18s linear reverse infinite;
    opacity: 0.5;
}

.wave:nth-of-type(3) {
    bottom: 0;
    animation: wave 20s -1s linear infinite;
    opacity: 0.5;
}

@keyframes wave {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(-25%);
    }
    100% {
        transform: translateX(-50%);
    }
}

@media screen and (max-width: 800px) {
    .item2 {
        display: flex;
        flex-direction: column;
        height: 70vh;
    }
    .item2-1 {
        font-size: 4rem;
        font-weight: 700;
    }
    img {
        width: 100%;
        height: 300px;
    }
    .logo {
        display: grid;
        width: 100%;
        grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr));
        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-width: 500px) {
    .item2-1 {
        font-size: 3rem;
        font-weight: 700;
        height: 40vh;
    }
    img {
        width: 100%;
        height: 200px;
    }
    .logo {
        display: grid;
        width: 100%;
        grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr));
        justify-content: center;
        align-items: center;
        padding: 0;
    }
    .logo a {
        display: flex;
        justify-content: center;
        align-items: center;
        scale: 0.8;
    }
}

@media screen and (max-width: 476px) {
    .logo {
        width: 120%;
    }
}

@media screen and (max-width: 388) {
    .logo {
        width: 150%;
        scale: 0.8;
    }
}
